* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Nunito Sans', sans-serif;
}

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    background-color: #fafafa;
}

.navbar {
    background-color: #ffffff
}

.title {
    font-weight: 800;
    font-size: clamp(18px, 6vw, 23px);
}

.dark-mode {
    font-weight: 300;
    font-size: 16px;

}

.dark-mode>span {
    margin-left: 0.5rem;
}

.back-btn {
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.back-btn span {
    margin-left: 1rem;
    font-weight: 600;
}


ul {
    list-style: none;
    padding: 0px;
}

li {
    margin-bottom: 5px;
}

.title>span {
    font-weight: 800;
    font-size: 30px;
}

.label {
    font-weight: 600;
    margin-right: 2px;
}

.text {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 3px;
    font-size: 16px;
    padding: 1% 5%;
}

.custom-col {
    margin-left: 4rem;
}

.img-fluid {
    width: 550px;
    height: 400px;
    object-fit: cover;
}
.custom-border{
    width: 12rem;
}
.custom-border span{
    font-weight: 600;
}


@media (max-width: 750px) {
    .title {
        font-size: clamp(16px, 4vw, 20px);
    }

    .dark-mode {
        font-size: clamp(16px, 4vw, 20px);
    }
  

}

@media (max-width: 992px) {

    .img-fluid {
        width: auto;
        height: auto;
        object-fit: cover;
    }
    .custom-col {
        margin-left: 0rem;
    }


}