* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --background-color: #fafafa;
    --elements-color: #ffffff;
    --text-color: black;
}

.dark-theme {
    --background-color: #202c37;
    --elements-color: #2b3945;
    --text-color: #ffffff;
}


html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--elements-color);
}

.title {
    font-weight: 800;
    font-size: clamp(18px, 6vw, 23px);
}

.dark-mode {
    color: var(--text-color);
}

.dark-mode>span {
    font-weight: 600;
    margin-left: 0.5rem;
}

.custom-back-btn {
    border-radius: 3px;
    background-color: var(--elements-color);
    color: var(--text-color);
    width: 145px;
    height: 40px;
}

.custom-back-btn:hover {
    background-color: var(--elements-color);
}

.custom-back-btn span {
    margin-left: 0.7rem;
    font-weight: 300;
}


ul {
    list-style: none;
    padding: 0px;
}

li {
    margin-bottom: 6px;
}

.title>span {
    font-weight: 800;
    font-size: 30px;
}

.label {
    font-weight: 600;
    margin-right: 2px;
}

.text {
    background-color: var(--elements-color);
    color: var(--text-color);
    border-radius: 3px;
    margin: 4px;
    font-size: 16px;
    padding: 1% 5%;
    /* box-shadow: rgba(149, 157, 165, 0.2) 8px 8px 24px; */

}

.custom-border {
    width: 11rem;
}

.custom-border span {
    font-weight: 600;
}



@media (max-width: 992px) {
    .title {
        font-size: clamp(16px, 4vw, 20px);
    }

    .dark-mode {
        font-size: clamp(16px, 4vw, 20px);
    }

    .custom-back-btn {
        width: 6.8rem;
        height: 2.5rem;
    }


}