* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --background-color: #fafafa;
    --elements-color: #ffffff;
    --text-color: #111517;
}

.dark-theme {
    --background-color: #202c37;
    --elements-color: #2b3945;
    --text-color: #ffffff;
}

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);

}

.navbar {
    background-color: var(--elements-color)
}

.title {
    font-weight: 800;
    font-size: clamp(18px, 6vw, 23px);
}

.dark-mode {
    color: var(--text-color);
}


.dark-mode>span {
    font-weight: 600;
    margin-left: 0.5rem;
}

.input-group-text,
.form-control,
.form-control:hover,
.input-group:placeholder-shown,
.form-control::placeholder {
    background-color: var(--elements-color);
    color: var(--text-color);
    border: none;
    box-shadow: none;
}

.dropdown-btn,
.dropdown-btn:hover,
.dropdown-btn:focus,
.dropdown-btn:active {
    background-color: var(--elements-color);
    color: var(--text-color);
}

.dropdown-item {
    font-weight: 600;
    color: var(--text-color);

}


.dropdown-menu>li {
    font-weight: bold;
    font-size: 14px;


}

.dropdown-menu {
    width: 175px;
    border: none;
    background-color: var(--elements-color);
}

.card:hover {
    cursor: pointer;
}

.card>img {
    object-fit: cover;
    height: 170px;
}

.card-title {
    font-weight: 800;
    font-size: 20px;
}

.card {
    text-decoration: none;
    background-color: var(--elements-color);
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border: none;
    height: 380px;
}


.card-body>ul {
    padding: 0rem;
    list-style: none;

}

.card-body li .label {
    font-weight: 600;
}

@media (max-width: 750px) {
    .card-container {
        margin-right: auto;
        margin-left: auto;
        padding: 0px 60px;
    }

    .card-title {
        font-size: 17px;
    }

    .title {
        font-size: clamp(16px, 4vw, 20px);
    }

    .dark-mode {
        font-size: clamp(16px, 4vw, 20px);
    }

}