* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

body {
    background-color: #fafafa;
}

.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 25px 80px;
    max-width: 100%;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.11);
    z-index: 1;
}

.title {
    font-weight: 800;
    font-size: clamp(18px, 6vw, 23px);
}

.dark-mode-button {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.dark-mode {
    font-size: 16px;
}

.dark-mode>span {
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 80px;

}

.seach-filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 50px 0px;
}

.search-container {
    position: relative;
    position: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #ffffff;
    padding: 14px 0px;
    min-width: 37%;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.search-container>input {
    border: none;
    min-width: 70%;
}

.search-container>input:focus {
    outline: none;
}

.search-container>i {
    position: static;
    margin-left: 2rem;
    margin-right: 1.5rem;


}

.dropdown-container {
    width: 14rem;
    position: relative;
}

.dropdown-container:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}

.dropdown-select {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.dropdown-list {
    background-color: #ffffff;
    border-radius: 5px;
    height: auto;
    padding: 15px 20px 20px 20px;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: auto;
    grid-gap: 5rem;
}

.card-container {
    text-decoration: none;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

img {
    display: block;
    height: 160px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.description-container {
    /* margin: 2rem; */
    padding: 2rem;
}

.description-container>span {
    font-weight: 800;
}

.country {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.country>h2 {
    width: 100%;
    font-size: 16px;
    font-weight: 800;
}

.label {
    font-weight: 600;
    margin-right: 1px;
}

ul {
    list-style: none;
}


@media (max-width: 768px) {

    .header {
        padding: 35px 20px;
    }

    .title {
        font-size: clamp(14px, 4vw, 20px);
    }

    .dark-mode {
        font-size: clamp(14px, 4vw, 20px);
    }

    .wrapper {
        padding: 0px 0px;
        max-width: 100%;
        padding: 30px 20px 30px 20px;

    }

    .seach-filter-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
    }

    .search-container {
        margin-bottom: 2.8rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(1fr));
        max-width: 100%;
        row-gap: 3rem;
        justify-content: center;
        padding: 35px 30px 0px 30px;
    }

    .card-container {
        width: 100%;
        height: auto;
    }

}