* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --background-color: #fafafa;
    --elements-color: #ffffff;
    --text-color: #111517;
}

.dark-theme {
    --background-color: #202c37;
    --elements-color: #2b3945;
    --text-color: #ffffff;
}

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);

}

.navbar {
    background-color: var(--elements-color)
}

.title {
    font-weight: 800;
    font-size: clamp(18px, 6vw, 23px);
    animation: moveInLeft 0.5s ease-in-out;
}

.dark-mode {
    color: var(--text-color);
    animation: moveInRight 0.5s ease-in-out;

}


.dark-mode>span {
    font-weight: 600;
    margin-left: 0.5rem;
}

.input-group-text,
.form-control,
.form-control:hover,
.input-group:placeholder-shown,
.form-control::placeholder {
    background-color: var(--elements-color);
    color: var(--text-color);
    border: none;
    box-shadow: none;

}

.dropdown-btn,
.dropdown-btn:hover,
.dropdown-btn:focus,
.dropdown-btn:active {
    background-color: var(--elements-color);
    color: var(--text-color);
    border: none;
    width: 190px;
    display: flex;
    align-items: center;
}

.dropdown-item {
    font-weight: 600;
    color: var(--text-color);


}


.dropdown-menu>li {
    font-weight: bold;
    font-size: 14px;


}

.dropdown-menu {
    width: 175px;
    border: none;
    background-color: var(--elements-color);
}

.card:hover {
    cursor: pointer;
}

.card>img {
    object-fit: cover;
    height: 170px;
}

.card-title {
    font-weight: 800;
    font-size: 20px;
}

.card {
    text-decoration: none;
    background-color: var(--elements-color);
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border: none;
    height: 380px;
    transition: transform 0.3s ease-out;
    animation: moveInOut 0.5s ease-in-out;

}




.card-body>ul {
    padding: 0rem;
    list-style: none;

}

.card-body li .label {
    font-weight: 600;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(5rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moveInOut {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* .fa-star {
    display: none;
} */

.fa-star {
    display: none;
}

.favourites-container {
    background-color: var(--elements-color);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    height: 810px;
    border-radius: 5px;
    overflow: hidden;

}

/* 
.fav-country {
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: #888888 #F0F0F0;
}

.fav-country::-webkit-scrollbar {
    width: 8px;
}

.fav-country::-webkit-scrollbar-thumb {
    background-color: #888888;
    padding: 2rem;
    max-height: 10px;
    /* Adjust the height as needed */
/* border-radius: 20px; */
/* Adjust the border radius to make it round */
/* } */

/* .fav-country::-webkit-scrollbar-track {
    background-color: #F0F0F0;
}  */

.fav-text {
    margin: 1.1rem;
}

.fav-text>span {
    font-weight: 800;
    font-size: 20px;
    margin-top: 2rem;
}

.fav-country>ul {
    list-style: none;
    padding: 0rem 1rem;
}

.fav-country li {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.fav-country i {
    cursor: pointer;
}

.fav-country-img-name>img {
    width: 40px;
    border-radius: 5px;
}

.fav-country-img-name>span {
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: 14px;
}


.dragging{
    opacity: .5;
}
.favourites-container.highlight{
    border: 1px solid #27ae60;
}

.fav-country {
    overflow-y: scroll;
    height: 100%;

}

.fav-country::-webkit-scrollbar {
    width: 8px;

}

.fav-country::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 4px;
    width: 8px;
    padding: 10rem;
}

.fav-country::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}


@media (max-width: 768px) {
    .card-container {
        margin-right: auto;
        margin-left: auto;
        padding: 0px 60px;
    }

    .card-title {
        font-size: 17px;
    }

    .title {
        font-size: clamp(16px, 4vw, 20px);
    }

    .dark-mode {
        font-size: clamp(16px, 4vw, 20px);
    }



    .favourites-container {
        display: none;
    }
    
    .fa-star {
        display: inline-block;
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding: 1rem;
        color: var(--text-color);
        border: none;
        
    }



}